


body,h1,h2,h3,h4,h5,h6,p{
    font-family: 'Work Sans', sans-serif;
}
/*header-section-start*/
.header-section{
    background-color: #fff;
}
.logo-img{
    margin-top: 18px;
}
.logo-img img{
    width: 100px;
}
.header-menu{}
.header-menu ul{
    text-align: right;
}
.header-menu ul li{
    display: inline-block;
}
.header-menu ul li a{
    display: block;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    color: #737373;
    line-height: 90px;
    font-weight: 400;
}
/*about section*/
.about-section{
    background-color: #f9f9ff;
}
.about-content{
    margin-top: 150px;
}
.about-content h6{
    font-size: 20px;
    color: #343a40;
}
.about-content h4{
    font-size: 35px;
    color: #343a40;
    line-height: 82px;
}
.about-content p{
    font-size: 15px;
    color: #51565c;
}
.header-button{
    margin-top: 25px;
}
.header-btn{
    text-decoration: none;
    background-color: #8490ff;
    color: #fff;
    padding: 9px 14px;
    border-radius: 5px;
    font-size: 14px;
    border-color: #8490ff;
    border: none;
}
.about-img img{
    width: 420px;
}
/*services section*/
.services-section{
    background-color: #fff;
    padding: 50px;
}

.services-img img{
    width: 490px;
    border: 1px solid #ddd;
}
.services-content{
    margin-top: 30px;
}
.services-content h6{
    font-size: 18px;
    font-weight: 300;
    color: #000;
}
.services-content h4{
    font-size: 38px;
    color: #212529;
    line-height: 70px;
}
.services-content p{
    font-size: 13px;
    color: #111;
}
.services-button{
  margin-top: 30px;
}
.services-btn{
    text-decoration: none;
    background-color: #8490ff;
    color: #fff;
    padding: 9px 10px;
    border-radius: 5px;
    font-size: 14px;
    border-color: #8490ff;
    border: none;
}
/*number section*/
.pricing-table{
    background-color: #f9f9ff;
}
.number-section-item h4{
    font-size: 35px;
}
.number-section-item p{
    font-size: 14px;
}
/*pricing table section*/
.pricing-table-title h3{
    font-size: 35px;
}
.pricing-table-title p{
    font-size: 17px;
    font-weight: 500;
}
.pricing-table-item{
    background-color: #fff;
    box-shadow: 4px 4px 30px 0 #ddd;
    padding: 20px;
    margin-top: 40px;
}
.item1{
   text-align: center;
}
.item1 span{
    background-color: #f9f9ff;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 27px;
}
.pricing-table-item h6{
    text-align: center;
    margin-top: 18px;
}
.pricing-table-item p{
    text-align: center;
}
.p-content{
    text-align: center;
}
.p-content ul{}
.p-content ul li{
    list-style: none;
    font-size: 18px;
    line-height: 60px;
    color: #a0a0a0;
}
.click-button{
    text-align: center;
    margin-bottom: 20px;
}
.class-button{
    background-color: #fff;
    color: #657be0;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
    border: 1px solid #657be0;
   box-shadow: 3px 3px 40px 0 #ddd;
}
/*team member section*/
.team-member-section{
    background-color: #fff;
    padding: 50px;
}
.team-member-items .card{
    margin-top: 60px;
    box-shadow: 4px 4px 35px 0 #ddd;
    padding: 10px 3px;
}
.team-member-items img{
    width: 90px;
    margin-top: -70px;
    margin-left: 15px;
}
.member-bio{
    margin-top: 25px;
}
.member-bio h6{
    text-align: center;
    font-size: 25px;
}
.member-bio h5{
    text-align: center;
    font-size: 15px;
}
.member-bio p{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}
.button-btn{
    font-size: 13px;
    padding: 7px 13px;
    color: #363738;
    border-radius: 5px;
}
/*contact-us*/
.contact-us{
    background-color: #f9f9ff;
    padding: 50px;
}
.contact-us p{
    font-size: 22px;
}
.contact-us h5{
    font-size: 34px;
}
.contact-form .card{
    box-shadow: 4px 4px 35px 0 #ddd;
    padding: 20px 30px;
}
.card-body h6{
    font-size: 27px;
    margin-bottom: 40px;
}
.card-body form .form-control{
    border: 2px solid #ddd;
    padding: 7px 10px;
    font-size: 20px;
    color: #767676;
}
.btn-form{
    padding: 9px 13px;
    background-color: #17a2b8;
    font-size: 19px;
    color: #fff;
    border-radius: 5px;
}
.form-content{
    margin-top: 90px;
    margin-left: 20px;
}
.form-content h3{
    font-size: 28px;
    color: #272626;
}
.form-content h6{
    font-size: 19px;
    line-height: 40px;
    color: rgb(61, 60, 60);
}
/*footer section*/
.footer-section p{
    font-size: 19px;
}





